@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
    font-display: swap;
}

:root {
    --basic-bg: #F1F5F7;
    --basic-dark: #293449;
    --active-dark: #161D29;
    --shadow-dark: #405069;
    --basic-darkblue: #32425C;
    --hover-darkblue: #293449;
    --active-darkblue: #1D2739;
    --basic-red: #EE3643;
    --hover-red: #CA2C37;
    --active-red: #BA2732;
    --basic-white: #FFFFFF;
    --footer-white: #F3F7F9;
    --basic-black: #000000;
    --basic-yellow: #FFD180;
    --basic-green: #63A63E;
    --shadow-green: #367315;
    --hover-green: #5FBB2D;
    --active-green: #518534;
    --basic-beige: #F9F5F0;
    --basic-gray: #EAEAEA;
    --basic-darkgray: #A9A9A9;
    --basic-lightgray: #E5E5E5;
    --active-gray: #C5C5C5;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-purple: #DC91D8;
    --special-green: #8ED78F;
    --socials-dark: #212A3A;
    --modal-bg: #F4F4F4;
    --filter-bg: #F7F3EC;
}

.page {
    height: 100%;
}

.page__body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-black);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    min-width: 192px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--basic-red);
    padding: 11px 24px 9px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.button--light {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.button:not(.button--light):hover {
    background-color: var(--hover-red);
}

.button:not(.button--light):active {
    background-color: var(--active-red);
}

.link {
    text-decoration: none;
}

.title {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

.title+.text {
    margin-top: 25px;
}

.title--bg {
    color: var(--basic-darkblue);
    background-color: var(--basic-bg);
}

.text {
    font-family: "PT Sans", "Arial", sans-serif;
}


/* HEADER */

.main-header {
    background-color: var(--basic-bg);
}

.main-header__topbar {
    background-color: var(--basic-dark);
}

.main-header__topbar-container {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 42px;
}

.logo {
    display: inline-block;
    width: 220px;
    height: 47px;
    background-color: var(--basic-red);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .24);
    padding: 12px 56px;
    box-sizing: border-box;
}

.logo__image {
    width: 100%;
}

.logo--narrow {
    height: 68px;
    padding: 20px 40px 25px 40px;
}

.logo:active {
    background-color: var(--active-red);
}

.search-form__input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: transparent;
    border: 0;
    outline: none;
}

.search-form__input::-webkit-input-placeholder {
    color: var(--basic-white);
}

.search-form__input:-ms-input-placeholder {
    color: var(--basic-white);
}

.search-form__input::-moz-placeholder {
    color: var(--basic-white);
    opacity: 1;
}

.search-form__input:-moz-placeholder {
    color: var(--basic-white);
    opacity: 1;
}

.search-form__input:focus {
    color: var(--basic-black);
    background-color: var(--basic-white)
}

.search-form__input:focus::-webkit-input-placeholder {
    color: var(--basic-black);
}

.search-form__input:focus:-ms-input-placeholder {
    color: var(--basic-black);
}

.search-form__input:focus::-moz-placeholder {
    color: var(--basic-black);
    opacity: 1;
}

.search-form__input:focus:-moz-placeholder {
    color: var(--basic-black);
    opacity: 1;
}

.user-navigation {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-navigation__link {
    display: inline-block;
    padding: 9px 24px 9px 43px;
}

.user-navigation__link,
.user-navigation__link span {
    font-size: 18px;
    color: var(--basic-white);
}

.user-navigation__link:active {
    background-color: var(--active-dark);
    opacity: .5;
}

.user-navigation__checkout {
    background-color: var(--basic-green);
    padding-left: 19px;
    padding-right: 16px;
}

.user-navigation__checkout:hover {
    background-color: var(--hover-green);
}

.user-navigation__checkout:active {
    opacity: .5;
}

.main-header__info-container {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    padding-top: 42.5px;
    padding-bottom: 60px;
}

.main-header__title {
    width: 197px;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: var(--basic-red);
    padding-left: 30px;
    margin: 0;
}

.main-header__contacts {
    justify-self: center;
    text-align: center;
}

.main-header__phone {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-red);
    border: 3px solid var(--basic-white);
    padding: 7px 50px 8px 74px;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.main-header__address {
    font-size: 14px;
    color: var(--basic-darkblue);
    margin: 0;
}

.profile__btn {
    display: inline-block;
    background-color: var(--basic-white);
    padding: 12px 24px;
    margin: 0;
}

.profile__btn,
.profile__btn a {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
}

.profile__btn:hover,
.profile__link:hover {
    color: var(--basic-red);
}

.profile__btn:active,
.profile__btn:active a,
.profile__link:active {
    color: var(--active-gray);
}

.profile__parts {
    list-style: none;
}

.profile__link {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-darkblue);
}

.main-navigation {
    grid-column: 1 / -1;
}

.site-navigation,
.footer-navigation {
    list-style: none;
    margin: 0;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    background-color: var(--basic-darkblue);
    box-shadow: inset 0px -5px 0px #293449;
    padding-left: 26px;
    padding-right: 29px;
}

.site-navigation__link {
    display: inline-block;
    font-size: 18px;
    color: var(--basic-white);
    padding: 16px 24px 20px 27px;
}

.site-navigation__link[href]:hover {
    background-color: var(--hover-darkblue);
}

.site-navigation__link[href]:active {
    opacity: .5;
}


/* END HEADER */


/* SLIDER */

.slider {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    color: var(--basic-white);
    text-transform: uppercase;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.slider__btn {
    background-color: transparent;
    border: 0;
}

.slider__figure {
    margin: 0;
}


/* END SLIDER */


/* SPECIAL */

.special__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.special-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.special__wrapper {
    grid-column: 1 / 2;
}

.special-list__item {
    width: 300px;
    background-color: var(--special-yellow);
    padding: 20px 23px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.special-list__item--blue {
    background-color: var(--special-blue);
}

.special-list__item--purple {
    background-color: var(--special-purple);
}

.special-list__item--green {
    background-color: var(--special-green);
}

.special-list__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: var(--basic-white);
    margin-top: 0;
}

.special-list__link {
    display: inline-block;
    width: 135px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    text-decoration: none;
    background-color: rgba(255, 255, 255, .3);
    padding: 10px;
    box-sizing: border-box;
}

.special-list__link:hover {
    background-color: rgba(197, 197, 197, .3);
}

.special-list__link:active {
    background-color: rgba(169, 169, 169, .3);
}


/* END SPECIAL */


/* POPULAR */

.popular {
    margin-bottom: 70px;
}

.popular__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--basic-beige);
    padding: 25px 14px 26px 28px;
    margin-bottom: 20px;
}

.popular__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: var(--basic-darkblue);
    text-transform: uppercase;
    margin: 0;
}


/* END POPULAR */


/* PRODUCT */

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-card {
    font-family: "PT Sans", "Arial", sans-serif;
    width: 220px;
    height: 100%;
    text-align: center;
    border: 1px solid var(--basic-gray);
    box-sizing: border-box;
}

.product-card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .15);
}

.product-card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: var(--basic-black);
    text-align: center;
}

.product-card__price,
.product-card__old-price {
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
}

.product-card__old-price {
    color: var(--basic-darkgray);
}

.product-card__price {
    width: 142px;
    background-color: var(--basic-red);
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.product-card__price a {
    color: var(--basic-white);
    text-decoration: none;
}

.product-card__buy {
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--shadow-green);
    border-radius: 2px;
}

.product-card__buy:hover {
    background-color: var(--hover-green);
}

.product-card__buy:active {
    background-color: var(--active-green);
}

.product-card__bookmark {
    color: var(--basic-darkblue);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    border-radius: 2px;
}

.product-card__bookmark:hover {
    background-color: var(--basic-white);
    border-color: var(--basic-darkblue);
}

.product-card__bookmark:active {
    background-color: var(--basic-white);
    opacity: .5;
}


/* END PRODUCT */


/* PRODUCER */

.producers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.producer-card {
    display: inline-block;
    width: 220px;
    height: 145px;
    line-height: 145px;
    text-align: center;
    border: 1px solid var(--basic-gray);
    background-color: var(--basic-white);
    box-sizing: border-box;
}

.producer-card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .15);
}

.producer-card:active {
    opacity: .5;
}

.producer-card__image {
    vertical-align: middle;
}


/* END PRODUCER */


/* SERVICES */

.services {
    background-color: var(--basic-bg);
    padding-top: 64px;
    padding-bottom: 100px;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tabs__list {
    width: 240px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 1px 0px var(--basic-dark), inset 0px 1px 0px var(--shadow-dark);
}

.tabs__label {
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--basic-darkblue);
    cursor: pointer;
}

.tabs__label:hover {
    background-color: var(--basic-dark);
}

.tabs__radio:checked+.tabs__label {
    color: var(--basic-darkblue);
    background-color: var(--basic-white);
}

.tabs__radio:not(:checked)+.tabs__flabel {
    box-shadow: 0px 1px 0px var(--basic-dark), inset 0px 1px 0px var(--shadow-dark);
}

.tabs__title {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-darkblue);
}

.tabs__content {
    width: 620px;
    list-style: none;
    padding: 0;
    margfin: 0;
}


/* END SERVICES */


/* ABOUT */

.about-contacts-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about {
    width: 460px;
}

.about__list {
    font-size: 18px;
}

.about__button {
    width: 220px;
}

.contacts__button {
    width: 100%;
}


/* END ABOUT */


/* FOOTER */

.main-footer {
    color: var(--footer-white);
    background-color: var(--basic-darkblue);
}

.main-footer__top {
    padding-bottom: 54px;
}

.main-footer__top-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 22px;
}

.main-footer__bottom {
    background-color: var(--basic-dark);
    padding-top: 35px;
    padding-bottom: 35px;
}

.main-footer__bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr min-content min-content;
    column-gap: 50px;
}

.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 640px;
    padding: 0;
}

.main-footer__navigation {
    align-self: end;
}

.footer-navigation__item:not(:first-child) {
    margin-left: 58px;
}

.footer-navigation__link {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
}

.main-footer__link {
    color: var(--footer-white);
}

.main-footer__link--yellow {
    color: var(--basic-yellow);
}

.main-footer__link:hover {
    text-decoration: underline;
}

.main-footer__link:active {
    opacity: .5;
    text-decoration: none;
}

.main-footer__site-navigation,
.main-footer__special-navigation {
    justify-self: end;
}

.main-footer__link.site-navigation__link:hover {
    background-color: transparent;
}

.main-footer__text {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    margin: 0;
}

.main-footer__address {
    line-height: 24px;
}

.main-footer__phone {
    font: inherit;
}

.main-footer__phone:hover {
    text-decoration: none;
}

.main-footer__phone:active {
    color: inherit;
    opacity: 1;
}

.social-list {
    display: flex;
    justify-self: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: var(--socials-dark);
    border-radius: 50%;
}

.social-list__link:hover,
.social-list__link:active {
    background-color: var(--basic-red);
}

.contacts__link:active {
    color: var(--basic-red);
}


/* END FOOTER */


/* MODAL */

.modal {
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
    border-top: 7px solid var(--basic-red);
}

.feedback {
    width: 620px;
    margin: 0 auto;
}

.feedback__label {
    font-size: 18px;
}

.feedback__input {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    border: 2px solid var(--active-gray);
    border-radius: 2px;
}

.feedback__textarea {
    resize: none;
}

.search-form__input {
    padding-left: 42px;
    padding-right: 17px;
    box-sizing: border-box;
}

.search-form__input::-webkit-input-placeholder {
    color: var(--basic-darkgray);
}

.search-form__input:-ms-input-placeholder {
    color: var(--basic-darkgray);
}

.search-form__input::-moz-placeholder {
    color: var(--basic-darkgray);
    opacity: 1;
}

.search-form__input:-moz-placeholder {
    color: var(--basic-darkgray);
    opacity: 1;
}

.feedback__actions {
    background-color: var(--modal-bg);
}

.map {
    width: 943px;
    margin: 0 auto;
}


/* END MODAL */


/* BREADCRUMBS */

.breadcrumbs {
    grid-column: 1 / -1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs__link {
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}


/* END BREADCRUMBS */


/* FILTER & SORT */

.filter,
.sort {
    font-family: "PT Sans", "Arial", sans-serif;
}

.filter__title,
.sort__title {
    font: inherit;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--filter-bg);
}

.filter__set:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

.filter__legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.range__wrapper,
.range__price {
    background-color: var(--filter-bg);
}

.range__price {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    border: 0;
}

.filter__label {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.filter__submit {
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-lightgray);
    cursor: pointer;
}

.sort__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sort__link {
    color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
    border-bottom: 1px dashed var(--basic-red);
}

.sort__link:not([href]) {
    color: var(--basic-red);
    border-bottom: 0;
}


/* END FILTER & SORT */


/* CATALOG PRODUCTS */

.paginator {
    list-style: none;
}

.category-text {
    background-color: var(--basic-bg);
}

.paginator__link {
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-lightgray);
}

.paginator__link:hover {
    border-color: var(--active-gray);
}

.paginator__link:active {
    background-color: var(--basic-white);
    border-color: var(--basic-red);
}

.paginator__link:not([href]) {
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: 0;
}

.added-cart__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.catalog__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: repeat(4, min-content);
    column-gap: 21px;
    row-gap: 20px;
}

.catalog__title {
    grid-column: 1 / -1;
}

.filter {
    grid-row: 3 / -1;
}


/* Временные стили для каталога */

.products .product-list {
    grid-template-columns: repeat(3, 1fr);
}


/* END CATALOG PRODUCTS */
